.container{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 24px;
}
.roomList{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	list-style: none;
	margin: 0 0 32px 0;
	border-bottom: 1px dashed #ccc;
	padding: 0 0 32px 0;
}