.container{
	display: flex;
	justify-content: center;
	padding-top: 24px;
}
.roomList{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	list-style: none;
	margin: 0;
	padding: 0;
}