.form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	form {
		width: 500px;
	}
	hr{
		border: 1px dashed #ccc;
		margin: 36px -24px;
	}
}
.controls{
	display: flex;
	justify-content: space-between;
	button{
		display: block;
	}
}