.formField{
	margin-bottom: 36px;
	label{
		display: block;
		padding-bottom: 12px;
	}
	input{
		font-size: 1.5rem;
	}
	input, textarea{
		display: block;
		width: 100%;
		padding: 12px 15px;
	}
	textarea{
		height: 3;
	}
}