@import "~normalize.css";

body {
	height: 100%;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}