@import "normalize.css";

html, body{
	height: 100%;
	font-size: 16px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	color: rgb(0,0,0)
}
body{
	overflow-y: scroll;
}

:global(#app) {
	display: flex;
	flex-direction: column;
	height: 100%;
}